header {
    background-color: red;
    color: white;
    margin: 20px;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 75px;
}

.cards {
    display: flex;
    justify-content: center;
    border: black;
    border-width: 12px;
    width: auto;

}

.nameTitle {
    background-color: blue;
    color: white;
    margin: 50px;
}

.info {
    background-color: grey;

}